<style data-name='header'>
  html[theme-mode='dark'] #header {
    background-color: #31518c;
  }

  #header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    width: calc(100vw - 60px);
    height: 50px;
    background-color: #3E67B1;
    backdrop-filter: blur(10px);
    transition: .3s;
    overflow: hidden;
  }
  #header > .header-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #header > .header-left > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .3s;
  }
  #header > .header-left > .tabs {
    position: relative;
    display: flex;
    gap: 20px;
    height: 100%;
    color: #aaa;
    font-size: 16px;
  }
  #header > .header-left > .tabs > .active-bar {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100px;
    height: 5px;
    background-color: #6f92e3;
    transition: .3s;
  }
  #header > .header-left > .tabs > .tab {
    padding: 4px;
    width: 100px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
  }
  #header > .header-left > .tabs > .tab.disabled {
    cursor: not-allowed;
  }
  #header > .header-left > .tabs > .tab:not(.disabled) {
    color: #ddd;
  }
  #header > .header-left > .tabs > .tab:not(.disabled):hover {
    color: #0648b7 !important;
    background-color: #fffa;
    border-radius: 4px;
  }
  #header > .header-left > .tabs > .tab > a {
    color: inherit;
    text-decoration: none;
  }

  #header > .header-right {
    display: flex;
    gap: 5px;
    user-select: none;
  }
  #header > .header-right > a {
    display: flex;
    align-items: center;
  }
  #header > .header-right > a:active,
  #header > .header-right > a:hover {
    filter: drop-shadow(0 0 8px lightgray);
  }
</style>

<div id='header'>
  <div class='header-left'>
    <a href='<%= BASE_URL %>'>
      <img src='/favicon.svg'
           alt='ZodUI'
           width='48'
           height='48'
      >
    </a>
    <div class='tabs'>
      <div class='active-bar'></div>
      <% for (tab of TABS) { %>
        <div class="tab<%= tab.disabled ? ' disabled' : '' %>">
          <% if (tab.disabled) { %>
            <%= tab.title %>
          <% } else { %>
            <a href='<%= tab.href %>'><%= tab.title %></a>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
  <div class='header-right'>
    <%- include('components/theme-switcher') %>
    <a href='https://github.com/zodui/zodui' target='_blank'>
      <img src='https://github.githubassets.com/favicons/favicon.svg'
           alt='GitHub ZodUI Repsitory'
           width='20'
           height='20'
      >
    </a>
  </div>
</div>
<script data-name='tab-controller'>
  window.TABS = <%- JSON.stringify(TABS) %>

  ;window.addEventListener('load', () => {
    /** @type {HTMLDivElement} */
    const activeBar = document.querySelector('#header .tabs .active-bar')
    const index = window.TABS.findIndex(t => t.href === window.location.pathname)
    if (index > -1) {
      activeBar.style.bottom = '-20px'
      activeBar.style.left = `${index * 130}px`
    }
  })
</script>
