.zodui-schema, .zodui-item, .zodui-controller {
  --zodui-text-color: var(--td-text-color-primary);
  --zodui-text-color-placeholder: var(--td-text-color-placeholder);

  --zodui-bg-color: var(--td-bg-color-container);
  --zodui-bg-color__hover: var(--td-bg-color-container-hover);
  --zodui-bg-color-component: var(--td-bg-color-component);
  --zodui-bg-color-component__hover: var(--td-bg-color-component-hover);

  --zodui-border-color: var(--td-border-level-1-color);
  --zodui-border: 1px solid var(--td-border-level-1-color);

  --zodui-error-color: var(--td-error-color);
  --zodui-error-color__bg: var(--td-error-color-1);
  --zodui-error-color__hover: var(--td-error-color-hover);

  --zodui-warning-color: var(--td-warning-color);
  --zodui-warning-color__hover: var(--td-warning-color-hover);

  --zodui-success-color: var(--td-success-color);
  --zodui-success-color__hover: var(--td-success-color-hover);
}
.zodui-schema {
  color: var(--zodui-text-color);
  background-color: var(--zodui-bg-color);
}

.zodui-item {
  .t-button.t-button--variant-outline.t-button--shape-square {
    min-width: 32px;
  }

  &.union {
    &.radio-inline > .zodui-item__control > div {
      display: flex;
      justify-content: space-between;
    }
    &.radio > .zodui-item__control > div > label {
      width: 100%;
    }
  }
}

.zodui-controller {
  /** resolve number type */
  .t-input-number {
    width: 100%;
  }
  /** resolve date type */
  .t-time-picker, .t-date-picker {
    width: 200px !important;
  }
  .t-date-range-picker, .t-time-range-picker {
    width: 284px !important;
  }
  .t-date-picker__panel-content {
    justify-content: center;
  }
  /** resolve multiple type */
  .multiple-item {
    > &__container.t-switch {
      width: auto !important;
      margin: 0 calc((
        200px - var(--td-comp-size-xxs) / 0.618
      ) / 2);
    }
  }
}
