.zodui-item {
  &.dict, &.object {
    .zodui-item__control-list-item {
      > &__index-tag {
        display: none;
      }
    }
  }
  &.wrap:not(.nowrap) {
    &:hover {
      background-color: inherit;
    }
    .zodui-item__control-list {
      width: 100%;
      gap: 0;
      &-item {
        display: flex;
        justify-content: right;
        gap: 10px;
        padding: 10px 5px;
        margin-right: -5px;
        border-bottom: var(--zodui-border);
        transition: .3s;
        &:hover {
          background-color: var(--zodui-bg-color__hover);
        }
        > &__label {
          top: 10px;
          left: 10px;
          height: calc(100% - 20px);
          &.editable {
            top: 10px;
            left: 5px;
          }
        }
        > &__index-tag {
          bottom: 2px;
          right: -3px;
        }
      }
    }
  }
  &__control {
    &:has(&-list) {
      width: auto;
    }
    > &-list {
      display: flex;
      justify-content: right;
      gap: 10px;
      &:not(.empty) {
        flex-direction: column;
      }
      > &-item {
        position: relative;
        gap: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > &__label {
          z-index: 10;
          position: absolute;
          top: 5px;
          font-size: 13px;
          &:not(.editable) {
            display: flex;
            align-items: center;
            right: 300px;
            width: 100px;
            height: calc(100% - 10px);
            overflow: hidden;
            // TODO fix unable display ellipsis when text overflow
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &.editable {
            top: 0;
            left: -200px;
            > .key-input {
              width: 190px;
            }
          }
        }
        > &__index-tag {
          z-index: 10;
          position: absolute;
          bottom: -8px;
          right: -8px;
          width: 16px;
          height: 16px;
          font-size: 12px;
          user-select: none;
          text-align: center;
          line-height: 16px;
          background-color: var(--zodui-bg-color);
          border-radius: var(--td-radius-default);
          border: var(--zodui-border);
        }
      }
      > &-item > &-item__container {
        width: 200px !important;
      }
    }
  }
}
