.zodui-item.wrap:not(.nowrap) {
  &:hover {
    background-color: inherit;
  }
  .zodui-controller.multiple {
    width: 100%;
    gap: 0;
    > .multiple-create {
      margin: 10.5px 0;
    }
    > .multiple-item {
      display: flex;
      justify-content: right;
      gap: 10px;
      width: 100%;
      padding: 10px 5px;
      margin-right: 0;
      border-bottom: var(--zodui-border);
      transition: .3s;
      &:hover {
        background-color: var(--zodui-bg-color__hover);
      }
      > .multiple-item__label {
        top: 10px;
        left: 10px;
        height: calc(100% - 20px);
        &.editable {
          top: 10px;
          left: 5px;
        }
      }
      > .multiple-item__index-tag {
        bottom: 2px;
        right: -3px;
      }
    }
  }
}

.zodui-controller.multiple {
  &.dict, &.object {
    .multiple-item {
      > &__index-tag {
        display: none;
      }
    }
  }

  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 10px;
  width: 368px;
  &:has(.multiple-create) {
    flex-direction: row;
  }
  .multiple-item {
    position: relative;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > &__label {
      z-index: 10;
      position: absolute;
      top: 5px;
      font-size: 13px;
      &:not(.editable) {
        display: flex;
        align-items: center;
        right: 300px;
        width: 100px;
        height: calc(100% - 10px);
        overflow: hidden;
        // TODO fix unable display ellipsis when text overflow
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.editable {
        top: 0;
        left: -200px;
        > .key-input {
          width: 190px;
        }
      }
    }
    > &__index-tag {
      z-index: 10;
      position: absolute;
      bottom: -8px;
      right: -8px;
      width: 16px;
      height: 16px;
      font-size: 12px;
      user-select: none;
      text-align: center;
      line-height: 16px;
      background-color: var(--zodui-bg-color);
      border-radius: var(--td-radius-default);
      border: var(--zodui-border);
    }
  }
  > .multiple-item > .multiple-item__container {
    width: 200px !important;
  }
}
