---
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'div'> {
  key: string;
}

const { key, ...rest } = Astro.props;
---

<div class={'monaco-editor' + (
  rest.class ? ' ' + rest.class : ''
)} data-key={key} {...rest}>
</div>

<script src='./Monaco.ts' />
