<!DOCTYPE html>
<html lang='en'>
<head>
  <%- include('components/meta') %>
  <%- include('templates/lib') %>
  <%- include('templates/monaco') %>

  <script type='module'>import '/src/play.scss'</script>
  <script type='module' src='/src/components/schema-eval.tsx'></script>
</head>
<body>
  <%- include('templates/header') %>
  <main>
    <div class='code-editor'>
      <div class='menu'>
        <span class='item'>
          <span class='material-icons'>settings</span>
          Settings
        </span>
        <span class='item'>
          <span class='material-icons'>share</span>
          Share
        </span>

        <span class='item right' id='foldCodeEditor'>
          <span class='material-icons' style='transform: rotate(180deg)'>double_arrow</span>
        </span>
        <span class='item right' style='display: none;'>
          Components Lib
          &
          Framework
        </span>
      </div>
      <%- include('components/monaco', {
        key: 'playground',
        resizeable: true,
        byHash: true
      }) %>
      <div class='menu-page' style='display: none'>
        <div class='settings'>
        </div>
      </div>
    </div>
    <%- include('components/schema-eval', {
      key: 'playground'
    }) %>
  </main>
</body>
</html>
