<!DOCTYPE html>
<html lang='en'>
<head>
  <%- include('components/meta') %>
  <%- include('templates/lib') %>
  <%- include('templates/monaco') %>

  <script type='module'>import '/src/play.scss'</script>
  <script type='module' src='/src/components/schema-eval.tsx'></script>
</head>
<body>
  <%- include('templates/header') %>
  <main>
    <div class='code-editor'>
      <div class='menu'>
        <span class='item settings'>
          <span class='material-icons'>settings</span>
          Settings
        </span>
        <span class='item share'>
          <span class='material-icons'>share</span>
          Share
        </span>

        <span class='item right fold'>
          <span class='material-icons' style='transform: rotate(180deg)'>double_arrow</span>
        </span>
        <span class='item right' style='display: none;'>
          Components Lib
          &
          Framework
        </span>
      </div>
      <%- include('components/monaco', {
        key: 'playground',
        resizeable: true,
        byHash: true
      }) %>
      <div class='menu-page'>
        <div class='settings'>
          <%- include('components/schema-eval', {
            key: 'settings',
            code: `import z from 'zod'
export default z.object({
  mode: z
    .union([
      z.literal('default').label('Default'),
      z.literal('card').label('Card'),
    ])
    .label('Mode')
    .describe('Controls the style of the form'),
})`
          }) %>
        </div>
      </div>
    </div>
    <%- include('components/schema-eval', {
      key: 'playground'
    }) %>
  </main>
  <script type='module'>
    const codeEditor = document.querySelector('.code-editor')
    const menu = codeEditor.querySelector('.menu')

    const menuPage = codeEditor.querySelector('.menu-page')

    const settingsPage = menuPage.querySelector('.settings')
    menu.querySelector('.item.settings').addEventListener('click', () => {
      menuPage.classList.toggle('show')
      settingsPage.classList.toggle('show')
    })

    const share = menu.querySelector('.item.share')

    attachMenu(share, [
      {
        title: 'Copy as Markdown Issue',
      },
      {
        title: 'Copy as Markdown Link',
      },
      {
        title: 'Copy as Markdown Link with Preview',
      },
      {
        title: 'Open in CodeSandbox',
      },
      {
        title: 'Open in StackBlitz',
      }
    ])

    const isFold = new URLSearchParams(location.search).get('fold') === '1'
    if (isFold) {
      codeEditor.classList.add('fold')
    }
    window.addEventListener('popstate', () => {
      const isFold = new URLSearchParams(location.search).get('fold') === '1'
      if (isFold) {
        codeEditor.classList.add('fold')
        codeEditor.style.marginLeft = '-' + codeEditor.scrollWidth + 'px'
      } else {
        codeEditor.classList.remove('fold')
        codeEditor.style.marginLeft = '0'
      }
    })
    menu.querySelector('.item.fold').addEventListener('click', () => {
      codeEditor.classList.toggle('fold')
      // set margin-left to codeEditor element width
      codeEditor.style.marginLeft = '-' + codeEditor.scrollWidth + 'px'
      const hash = location.hash
      history.pushState(null, '', `?${new URLSearchParams({
        fold: codeEditor.classList.contains('fold') ? '1' : '0'
      })}${hash}`)
    })
  </script>
</body>
</html>
