<!DOCTYPE html>
<html lang='en'>
<head>
  <%- include('templates/meta') %>
  <%- include('templates/lib') %>

  <style data-name='main'>
    #container {
      width: 0;
      flex-grow: 1;
    }
    #root {
      position: relative;
      width: 700px;
      height: calc(100vh - 60px);
      overflow: overlay;
    }
    #root::after {
      content: ' ';
      background-color: #ccc;
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      cursor: ew-resize;
      transition: .3s;
    }
  </style>
</head>
<body>
  <%- include('templates/header') %>
  <%- include('templates/monaco') %>
  <div class='main'>
    <div id='container'></div>
    <div id='root'></div>
  </div>
  <script type='module' src='/src/play.tsx'></script>
</body>
</html>
