.zodui-item.wrap:not(.nowrap) {
  .zodui-switcher.complex {
    width: 100%;
    > .zodui-switcher.multiple {
      &.dict, &.object, &.map, &.record {
        margin-left: 0;
      }
    }
  }
}

.zodui-switcher.complex {
  flex-direction: column;
  gap: 10px;
  > .zodui-switcher.multiple {
    &.dict, &.object, &.map, &.record {
      margin-left: -84px;
    }
  }
}
