.schema-eval-container {
  transition: .1s;
  &:has(> div.empty) {
    height: 50px;
    max-height: 50px;
  }
  > div.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    color: var(--pl-cr);
    font-weight: bold;
    background-color: var(--cp-cr);
  }
  > div.catched-error {
    background-color: var(--cp-cr);
    overflow: overlay;
    > pre {
      margin: 0;
      padding: 1rem;
      font-size: 1.2rem;
      color: #ff5370;
    }
  }
  @keyframes inn {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 1000px;
    }
  }
  > .zodui-composer-list {
    animation: inn 1s linear;
    overflow: hidden;
  }
}
