html[theme-mode='dark'] .theme-switcher {
  > .dark-and-light {
    > div {
      transform: translateY(-20px);
    }
  }
}
.theme-switcher {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  transition: .3s;
  > .dark-and-light {
    margin-right: 5px;
    height: 20px;
    overflow: hidden;
    > div {
      width: 20px;
      height: 20px;
      transform: translateY(0);
      transition: .3s;
    }
  }
  .light {
    color: orange;
    cursor: pointer;
    &:hover > svg { filter: drop-shadow(0 0 2px orange); }
  }
  .dark {
    color: yellow;
    cursor: pointer;
    &:hover > svg { filter: drop-shadow(0 0 2px yellow); }
  }
  .auto {
    display: flex;
    position: relative;
    padding: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    filter: grayscale(.8);
    cursor: pointer;
    transition: .3s;
    &:hover {
      filter: grayscale(.2);
      background-color: rgba(100, 100, 100, .2);
    }
    &.active {
      filter: grayscale(0);
      background-color: rgba(100, 100, 100, .4);

      > svg {
        &:first-child {
          color: orange;
          border-right: 2px dashed #fff;
        }
        &:last-child {
          color: yellow;
        }
      }
    }
    > svg {
      &:first-child {
        color: #aaa;
        border-right: 2px dashed #999;
      }
      &:last-child {
        color: #888;
      }
    }
  }
}
