.copy-wrap {
  position: relative;
  height: 100%;
  > .copy-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 0.75em;
    font-size: 0.75em;
    border-radius: 0 0 0 0.25em;
    border: 1px solid #ccc;
    border-right: none;
    border-top: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: var(--pr-fr-cr);
      background-color: var(--pr-cr);
    }
  }
}
