html[theme-mode='dark'] div.zodui-preview {
  --bg-color: #3A4F7A;
  --bg-hover-color: #5675bd;
  --fr-color: #F5F5F5;
}

div.zodui-preview {
  --bg-color: #3E67B1;
  --bg-hover-color: #3A4F7A;
  --fr-color: #F5F5F5;

  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 330px;
  > .draw-bar {
    z-index: 1;
    display: flex;
    gap: 10px;
    padding: 8px;
    position: absolute;
    top: calc(100% - 50px);
    right: -36px;
    width: 160px;
    height: 24px;
    background-color: var(--bg-color);
    color: var(--fr-color);
    border-radius: 0 8px 8px 0;
    transition: .3s;
    &:not(.display):hover {
      background-color: var(--bg-hover-color);
    }
    &.display {
      right: -176px;
      > .icon[data-key="open/close"] {
        transform: rotate(180deg);
      }
      > .icon:hover {
        filter: drop-shadow(0 0 4px #fff);
      }
    }
    > .icon {
      width: 24px;
      height: 24px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      transition: .3s;
    }
  }
  > .wrap {
    z-index: 2;
    flex-grow: 1;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    > .exchange {
      z-index: 10;
      position: absolute;
      top: -31px;
      right: -20px;
      width: 50px;
      height: 50px;
      line-height: 45px;
      text-align: right;
      transform: rotate(125deg);
      background-color: var(--bg-color);
      color: var(--fr-color);
      user-select: none;
      cursor: pointer;
      transition: .3s;
      &:hover {
        background-color: var(--bg-hover-color);
      }
    }
    > .markdown-body {
      pre {
        border-radius: 0;
      }
    }
    > * {
      position: absolute;
      top: 0;
      width: 100%;
      transition: .3s;
      &.hidden {
        top: 100%;
      }
      > * { height: 300px; }
      > .zodui-composer-list {
        padding-bottom: 30px;
      }
    }
  }
}
