div.zodui-preview {
  position: relative;
  margin-top: 20px;
  border: 1px solid var(--br-cr);
  border-radius: .5rem;
  .markdown-body pre {
    margin-bottom: 0;
    padding: 0;
    border: none;
  }
  + .markdown-body {
    margin-top: 20px;
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 20px !important;
      }
    }
  }
  > .draw-bar-wrap {
    z-index: 1;
    position: absolute;
    padding: 24px 0;
    margin-left: 100%;
    width: 0;
    height: calc(100% - 48px);
  }
  > .draw-bar-wrap > .draw-bar {
    z-index: 1;
    display: flex;
    gap: 10px;
    padding: 8px;
    position: sticky;
    top: 20px;
    margin-left: -136px;
    width: 160px;
    height: 24px;
    background-color: var(--pr-cr);
    color: var(--pr-fr-cr);
    border-radius: 0 .5rem .5rem 0;
    transition: .3s;
    &:not(.display):hover {
      box-shadow: var(--bx-sd-l3);
    }
    &.display {
      margin-left: 0;
      > .icon[data-key="open/close"] {
        transform: rotate(180deg);
      }
      > .icon:hover {
        filter: drop-shadow(0 0 4px #fff);
      }
    }
    > .icon {
      width: 24px;
      height: 24px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      transition: .3s;
    }
  }
  > .wrap {
    z-index: 3;
    position: relative;
    overflow: hidden;
    border-radius: .5rem .5rem 0 0;
    > .markdown-body {
      z-index: 10000;
      position: absolute;
      top: 100%;
      width: 100%;
      height: 100%;
      overflow: overlay;
      transition: .15s;
      &.display {
        top: 0;
      }
      pre {
        min-height: 100%;
        border-radius: 0;
        border: none !important;
      }
    }
    > .schema-eval-container {
      width: 100%;
      height: 100%;
      overflow: overlay;
      transition: .15s;
      > * {
        height: 100%;
      }
      .zodui-composer-list .inline-md {
        border: none;
        background-color: unset;
        font-size: 12px;
      }
    }
  }
  > .output {
    position: relative;
    z-index: 2;
    padding-bottom: 24px;
    color: var(--fr-cr);
    background-color: var(--cp-cr);
    border-radius: 0 0 .5rem .5rem;
    > .content {
      padding: 0;
      margin: 0;
      max-height: 0;
      overflow: overlay;
      border-bottom: 1px solid var(--br-cr);
      transition: .2s;
    }
    > .material-icons {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      cursor: pointer;
      user-select: none;
      transition: .15s;
      &:hover {
        filter: drop-shadow(0 0 4px #0008);
      }
    }
    &.display {
      > .content {
        max-height: 250px;
      }
      > .material-icons {
        transform: translateX(50%) rotate(180deg);
        transform-origin: center;
      }
    }
  }
}
