.zodui-item {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 20px 10px 50px;
  width: calc(100% - 70px);
  border-bottom: var(--zodui-border);
  transition: .3s;
  &.wrap:not(.nowrap) {
    align-items: start;
    flex-direction: column;
    .zodui-item__control {
      width: 100%;
    }
  }
  &:hover {
    background-color: var(--zodui-bg-color__hover);
  }
  &.error {
    border-bottom: none;
    background-color: var(--zodui-error-color__bg);
  }
  &__more {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 32px;
    &-description {
      font-size: 12px;
      color: var(--zodui-text-color-placeholder);
    }
  }
  &__error {
    padding: 10px 5px;
    border-left: 4px solid var(--zodui-error-color);
    border-bottom: var(--zodui-border);
    color: var(--zodui-error-color);
    background-color: var(--zodui-error-color__bg);
  }
}
