.zodui-schema {
  &__header {
    padding: 6px 0 6px 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    &:empty {
      display: none;
    }
  }
  &__label {
    margin: 0;
    padding: 8px 0;
  }
  &__desc {
    margin: 0;
    font-size: 14px;
    color: var(--td-text-color-placeholder);
  }
  .inline-md {
    line-height: 22px;
    code {
      margin: 0 5px 0 -3px;
      padding: 1px 3px;
      font-size: 14px;
      border-radius: 4px;
      background-color: var(--td-bg-color-component);
    }
    a {
      text-decoration: none;
    }
    span.spoiler {
      display: inline-block;
      position: relative;
      padding: 0 4px;
      border-radius: 4px;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: var(--td-bg-color-component);
        color: var(--td-text-color-placeholder);
        transition: .3s;
      }
      &:hover::after {
        opacity: .3;
      }
    }
  }
}
