---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
    <div class='p1'>
      <h1>
        <span>Zod</span> UI
        <pre>drive your UI by zod.</pre>
      </h1>
      <div class='start-button' onclick='location.href = "/zodui/play"'>
        <div class='zod'>
          <div class='zod-top'></div>
          <div class='zod-bottom'></div>
        </div>
        <span class='content'>Start</span>
      </div>
    </div>
	</main>
</Layout>

<style lang='scss'>
  html[theme-mode='dark'] main > .p1 {
    color: white;
    background-image: linear-gradient(120deg, #1d3259 20%, #354e7e 80%);
    > h1 > span {
      color: #90b2ee;
    }
    > .start-button {
      > span.content {
        color: #1d3259;
      }
      &:hover > .zod {
        color: #2c4370;
        filter: drop-shadow(0 0 16px #3E67B1);
      }
      > .zod {
        > .zod-top {
          border-bottom: 20px solid #90b2ee;
        }
        > .zod-bottom {
          border-top: 60px solid #90b2ee;
        }
      }
    }
  }
  @keyframes upAndDown {
    0% {
      bottom: 90px;
    }
    50% {
      bottom: 100px;
    }
    100% {
      bottom: 90px;
    }
  }
  main {
    width: 100%;
    height: calc(100vh - 60px);
    > .p1 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(120deg, #cfd7ea 20%, #a1c4fd 80%);
      transition: .3s;
      > h1 {
        position: relative;
        font-size: 100px;
        > span {
          color: #3E67B1;
        }
        > pre {
          position: absolute;
          right: 0;
          font-size: 1rem;
        }
      }
      > .start-button {
        display: flex;
        align-items: start;
        justify-content: center;
        position: absolute;
        bottom: 100px;
        font-size: 20px;
        font-weight: bold;
        user-select: none;
        cursor: pointer;
        &:not(:hover) {
          animation: upAndDown 1s infinite;
        }
        > span.content {
          color: #cfd7ea;
          z-index: 2;
          transition: .3s;
        }
        > .zod {
          position: absolute;
          top: 0;
          left: -25px;
          transition: .3s;
          > .zod-top {
            z-index: 1;
            position: absolute;
            top: -40px;
            width: 40px;
            height: 20px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 20px solid #3E67B1;
          }
          > .zod-bottom {
            z-index: 1;
            position: absolute;
            top: 0;
            width: 0;
            height: 60px;
            border-top: 60px solid #3E67B1;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
          }
        }
        &:hover > .zod {
          left: calc(-25px * 2);
          transform: scale(1.5);
          filter: drop-shadow(0 0 16px #7796e3);
        }
      }
    }
  }
</style>
