---
import Layout from '../layouts/Layout.astro'
import Monaco from '../components/Monaco.astro'
---

<Layout includeMonaco>
	<main>
    <Monaco key="playground0"/>
    <Monaco key="playground1"/>
  </main>
</Layout>
