---
import z from 'zod'
import '@zodui/react/components-lib/tdesign'
import { Schema } from '@zodui/react'

import Layout from '../layouts/Layout.astro'
import Monaco from '../components/Monaco.astro'
---

<style lang='scss'>
  main {
    display: flex;
  }
  .code-editor {
    max-width: 70vw;
    height: 100%;
    > div.menu {
      height: 52px;
      border-bottom: 1px solid lightblue;
    }
    > div.monaco-editor {
      max-width: 100%;
      height: calc(100% - 50px);
    }
  }
  .schema-container {
    position: relative;
    flex-grow: 1;
    min-width: 300px;
    height: 100%;
    overflow: overlay;
  }
</style>

<Layout includeMonaco>
	<main>
    <div class='code-editor'>
      <div class='menu'>
      </div>
      <Monaco key='playground' resizeable />
    </div>
    <div class='schema-container'>
      <Schema model={z.object({
        foo: z.string().label('Foo'),
        bar: z.array(
          z.string()
        ).label('Bar'),
      })}/>
    </div>
    <!-- <Monaco key="playground1"/> -->
  </main>
</Layout>
