---
import Layout from '../layouts/Layout.astro'
import Monaco from '../components/Monaco.astro'
---

<style lang='scss'>
  main {
    display: flex;
  }
  #root {
    position: relative;
    flex-grow: 1;
    min-width: 300px;
    height: 100%;
    overflow: overlay;
  }
</style>

<Layout includeMonaco>
	<main>
    <Monaco key='playground0' resizeable />
    <div id='root'>
    </div>
    <!-- <Monaco key="playground1"/> -->
  </main>
</Layout>
