<!DOCTYPE html>
<html lang='en'>
<head>
  <%- include('components/meta') %>
  <%- include('templates/lib') %>
  <script type='module'>import '/src/index.scss'</script>
</head>
<body>
  <%- include('templates/header') %>
  <main class='home'>
    <ul class='pages'></ul>
    <div class='p1'>
      <!-- TODO replace by monaco and form render -->
      <div class='code'>
        <img src='/home-p0-model-code.png' width='280' alt='model code'>
      </div>
      <div class='form'>
        <img src='/home-p0-model-form.png' width='533' alt='model form'>
      </div>
      <h1>
        <span>Zod</span> UI
        <pre class='slogan'>UI driven by <span style='color: #3E67B1'>zod</span>, driven by <span style='color: #3E67B1'>model</span>.</pre>
      </h1>
      <div class='start-button'>
        <div class='zod'>
          <div class='zod-top'></div>
          <div class='zod-bottom'></div>
        </div>
        <span class='content'>Start</span>
      </div>
    </div>
    <div class='p2'>
      <section>
        <h2>Extensible</h2>
        <p>UI design tailored to application type.</p>
        <span class='bg-icon'>📃</span>
      </section>
      <section>
        <h2>Flexible</h2>
        <p>Flexible display customization.</p>
        <span class='bg-icon'>🎨</span>
      </section>
      <section>
        <h2>Zod Powered</h2>
        <p>Zod-powered data model with robust interaction logic for edge cases.</p>
        <span class='bg-icon'>💎</span>
      </section>
      <section>
        <h2>Ecologically</h2>
        <p>Supports multiple frontend frameworks.</p>
        <span class='bg-icon'>🏗️</span>
      </section>
      <section>
        <h2>Type Safety</h2>
        <p>The interactions and interfaces generated based on the types of data models naturally ensure the security of our data.</p>
        <span class='bg-icon'>📊</span>
      </section>
    </div>
  </main>
<script type='module' src='/src/index.ts'></script>
</body>
</html>
