<!DOCTYPE html>
<html lang='en'>
<head>
  <%- include('components/meta') %>
  <%- include('templates/lib') %>
  <script type='module'>import '/src/index.scss'</script>
</head>
<body>
  <%- include('templates/header') %>
  <main>
    <div class='p1'>
      <h1>
        <span>Zod</span> UI
        <pre>drive your UI by zod.</pre>
      </h1>
      <div class='start-button' onclick='location.href = "/zodui/play"'>
        <div class='zod'>
          <div class='zod-top'></div>
          <div class='zod-bottom'></div>
        </div>
        <span class='content'>Start</span>
      </div>
    </div>
  </main>
</body>
</html>
