#header {
  z-index: 1;
  background-color: #3E67B1bb !important;
  > .header-left > .tabs {
    color: #dededeaa !important;
  }
  > .header-left > .tabs > .tab:not(.disabled) {
    color: #1c1c1caa !important;
    &:hover { color: #0648b7 !important }
  }
}

html[theme-mode='dark'] body > main {
  background-color: #303845 !important;
  color: #ebebf599;
}
body > main {
  --padding: 100px;

  z-index: 0;
  display: flex;
  position: relative;
  margin-top: -60px;
  padding: 0 var(--padding);
  padding-top: 60px;
  width: calc(100% - var(--padding) * 2);
  height: calc(100vh - 60px);
  color: #2d2d2d;
  overflow: overlay;
  scroll-behavior: smooth;
  background-image: none !important;
  background-color: #f6f6f6 !important;
  a {
    display: inline-block;
    padding: 0;
    text-decoration: none;
    transition: .15s;
    color: inherit;
    &:hover {
      color: #3E67B1;
    }
  }
  > div.left-panel {
    position: sticky;
    top: 0;
    min-width: 300px;
    border-right: 1px solid #d9d9d9;
    > div.tabs {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d9d9d9;
      font-size: 1.2rem;
      user-select: none;
      > .tab {
        padding: 10px 20px;
        cursor: pointer;
        &.active {
          font-weight: bold;
          border-bottom: 2px solid #3E67B1;
        }
      }
    }
  }
  > div.container {
    flex-grow: 1;
    position: relative;
    padding: 0 50px;
    > div.pagination {
      position: relative;
      padding: 20px 0 150px;
      margin-top: 20px;
      border-top: 1px solid #d9d9d9;
      > a:has(> .prev) {
        float: left;
      }
      > a:has(> .next) {
        float: right;
      }
      > a > div {
        position: relative;
        padding: 10px 100px;
        font-size: 1.2rem;
        user-select: none;
        &.prev {
          padding-left: 0;
          > .operate {
            justify-content: flex-start;
          }
        }
        &.next {
          padding-right: 0;
          text-align: right;
          > .operate {
            justify-content: flex-end;
          }
        }
        > .operate {
          display: flex;
          align-items: center;
          font-size: 1rem;
        }
        > .title {
          font-size: 1.8rem;
          color: var(--primary-color);
        }
      }
    }
    > .markdown-body:first-child {
      margin-top: 40px;
      h1, h2, h3, h4, h5, h6 {
        margin-top: 60px;
      }
    }
  }
  > ul.menu {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 10px 0;
    min-width: 200px;
  }
  ul {
    padding-inline-start: 0;
    user-select: none;
    > h4 { margin-top: 0; }
    ul { padding-inline-start: 20px }
    li {
      margin-top: 8px;
      padding: 0 0 0 4px;
      list-style: none;
      box-sizing: border-box;
      border-left: 2px solid transparent;
      &.active {
        font-weight: bold;
        border-left: 2px solid #3E67B1;
      }
    }
  }
}
