body > main {
  html[theme-mode='dark'] & {
    img[src$='#dark'] {
      display: block;
    }
    img[src$='#light'] {
      display: none;
    }
  }
  img[src$='#dark'] {
    display: none;
  }
}
@keyframes short {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
body > main {
  --padding: 200px;

  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -60px;
  padding: 0 var(--padding);
  padding-top: 60px;
  width: calc(100% - var(--padding) * 2);
  height: calc(100vh - 60px);
  color: var(--fr-cr);
  overflow: overlay;
  > .tips {
    position: relative;
    min-width: 1000px;
    max-width: 1000px;
    margin: 100px auto 70px;
    > div.tip {
      position: relative;
      display: none;
      max-height: 500px;
      border-radius: 0.5rem;
      overflow: hidden;
      color: var(--fr-cr);
      background-color: var(--cp-cr);
      box-shadow: var(--bx-sd-l1);
      &.active {
        display: block;
      }
      &:hover::after {
        animation-play-state: paused;
      }
      &::after {
        position: absolute;
        top: 400px;
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--pr-cr);
        animation: short 10s linear infinite;
      }
      > h2 {
        margin: 0;
        padding: 1rem;
        font-size: 1.5rem;
      }
      > img {
        width: 1000px;
        height: 400px;
      }
      > .description {
        padding: 0 1rem 1rem;
        margin: 0;
        color: var(--pl-cr);
        font-size: 1.2rem;
      }
    }
    > .next {
      position: absolute;
      top: 510px;
      right: 0;
      padding-right: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: .3s;
      &:hover {
        filter: drop-shadow(0 0 2px var(--pr-cr));
      }
      > span {
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--pr-cr);
        font-weight: bold;
        color: var(--pr-fr-cr);
      }
    }
  }
  > .classifications {
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    > .classification {
      flex-grow: 1;
      padding: 10px;
      width: 0;
      height: 200px;
      border-radius: 0.5rem;
      background-color: var(--cp-cr);
      box-shadow: var(--bx-sd-l1);
      h2 { margin: 0; }
      > .description {
        margin: 10px 0;
        padding: 0;
        color: var(--pl-cr);
        font-size: 1rem;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin-top: 0.25rem;
          font-size: 1.2rem;
          color: var(--pl-cr);
          a {
            color: var(--pr-cr);
          }
        }
      }
    }
  }
}
