#header {
  z-index: 1;
  background-color: #3E67B1bb !important;
  > .header-left > .tabs {
    color: var(--pr-fr-cr) !important;
  }
  > .header-left > .tabs > .tab.disabled {
    color: #dededeaa !important;
  }
}

html[theme-mode='dark'] {
  pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}
}
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#383a42;background:#fafafa}.hljs-comment,.hljs-quote{color:#a0a1a7;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#a626a4}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e45649}.hljs-literal{color:#0184bb}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#50a14f}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#986801}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#4078f2}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#c18401}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}

body > main {
  --padding: 100px;

  z-index: 0;
  display: flex;
  position: relative;
  margin-top: -60px;
  padding: 0 var(--padding);
  padding-top: 60px;
  width: calc(100% - var(--padding) * 2);
  height: calc(100vh - 60px);
  color: var(--fr-cr);
  overflow: overlay;
  scroll-behavior: smooth;
  background-image: none !important;
  background-color: var(--bg-cr) !important;
  > div.left-panel {
    position: sticky;
    top: 0;
    min-width: 300px;
    border-right: 1px solid var(--br-cr);
    > .selector > .schema-eval-container > .zodui-composer-list {
      background-color: transparent;
      > .zodui-item {
        padding: 5px;
        width: calc(100% - 10px);
        .zodui-item__more {
          display: none;
        }
        .zodui-item__label {
          font-size: 1.1rem;
          &::after { display: none; }
        }
      }
    }
    > .tabs {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--br-cr);
      font-size: 1.2rem;
      user-select: none;
      > .tab {
        padding: 10px 20px;
        cursor: pointer;
        &.active {
          font-weight: bold;
          border-bottom: 2px solid #3E67B1;
        }
      }
    }
  }
  > div.container {
    flex-grow: 1;
    position: relative;
    padding: 0 50px;
    width: 0;
    > div.pagination {
      position: relative;
      padding: 20px 0 100px;
      margin-top: 20px;
      border-top: 1px solid var(--br-cr);
      > a:has(> .prev) {
        float: left;
      }
      > a:has(> .next) {
        float: right;
      }
      > a > div {
        position: relative;
        padding: 10px 100px;
        font-size: 1.2rem;
        user-select: none;
        &.prev {
          padding-left: 0;
          > .operate {
            justify-content: flex-start;
          }
        }
        &.next {
          padding-right: 0;
          text-align: right;
          > .operate {
            justify-content: flex-end;
          }
        }
        > .operate {
          display: flex;
          align-items: center;
          font-size: 1rem;
        }
        > .title {
          font-size: 1.8rem;
          color: var(--primary-color);
        }
      }
    }
    > div.operations {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 20px;
      font-size: 1rem;
      > div {
        display: flex;
        align-items: center;
        span.material-icons {
          margin-right: 5px;
          font-size: 1.4rem;
        }
      }
    }
    > .markdown-body {
      > h1, > h2, > h3, > h4, > h5, > h6 {
        margin-top: 40px !important;
      }
      pre {
        padding: 0;
        border: 1px solid var(--br-cr);
      }
    }
    > .utterances {
      min-height: 270px;
    }
  }
  > div.quick-operates {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    > .material-icons {
      padding: 10px;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 2rem;
      color: var(--fr-cr);
      border: 1px solid var(--br-cr);
      box-shadow: var(--bx-sd-l1);
      transition: .15s;
      &:hover {
        color: var(--pr-fr-cr);
        background-color: var(--pr-cr);
        box-shadow: var(--bx-sd-l3);
      }
      &.hide {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  > div.left-panel, > div.quick-access {
    > h3 {
      position: sticky;
      top: 0;
      padding: 10px;
      margin: 0 -10px;
      background-color: var(--bg-cr);
      backdrop-filter: blur(5px);
      border-bottom: 1px solid var(--br-cr);
    }
    ul {
      margin-top: 0;
      padding-inline-start: 0;
      font-size: 1.1rem;
      user-select: none;
      transition: .1s;
      ul {
        padding-inline-start: 0;
        li {
          padding: 0 0 0 20px;
        }
      }
      li {
        margin-top: 8px;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        border-left: 2px solid transparent;
        transition: padding .1s;
        &.active {
          padding: 0 0 0 10px;
          font-weight: bold;
          border-left: 2px solid #3E67B1;
        }
      }
    }
  }
  > div.quick-access {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0 20px;
    width: 200px;
    max-width: 200px;
    overflow: overlay;
    > ul {
      font-size: 1rem;
    }
  }
}
