html[theme-mode='dark'] main > .p1 {
  color: #ccc;
  background-image: linear-gradient(120deg, #1d3259 20%, #354e7e 80%);
  > h1 > span {
    color: #90b2ee;
  }
  > .start-button {
    > span.content {
      color: #1d3259;
    }
    &:hover > .zod {
      color: #2c4370;
      filter: drop-shadow(0 0 16px #3E67B1);
    }
    > .zod {
      > .zod-top {
        border-bottom: 20px solid #90b2ee;
      }
      > .zod-bottom {
        border-top: 60px solid #90b2ee;
      }
    }
  }
}
main.home {
  margin-top: -60px;
  height: 100vh;

  color: #333;
  background-image: linear-gradient(120deg, #cfd7ea 20%, #a1c4fd 80%);

  overflow-y: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &:not([data-page="0"]) {
    > .p1 > .start-button {
      pointer-events: none;
    }
  }
  &[data-page="1"], &[data-page="2"] {
    > .p2 {
      pointer-events: none;
      > section:not(:nth-child(1)) {
        opacity: calc(2 - var(--page));
      }
    }
  }
  &[data-page="2"] {
    > .p2 > section:nth-child(1) {
      background-image: none;
      border: 2px solid transparent;
      box-shadow: 0 0 0 transparent;
    }
  }
  > .p1, .p2, .p3, .p4, .p5 {
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
  }
  > .p1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .1s;
    > .form, .code {
      position: absolute;
      opacity: .8;
      border-radius: 8px;
      box-shadow: 0 6px 16px #3333;
      transition: .3s;
      &:hover {
        &::before {
          opacity: 0;
          backdrop-filter: blur(0px);
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background-image: radial-gradient(#fff5 10%, #fff0);
        backdrop-filter: blur(4px);
      }
      img { border-radius: 8px }
    }
    > .form {
      right: -100px;
      bottom: -60px;
      transform: rotateX(20deg) rotateY(-30deg) rotateZ(15deg);
      &:hover {
        right: 30px;
        transform: rotateX(0) rotateY(0) rotateZ(5deg);
      }
    }
    > .code {
      left: -50px;
      bottom: -60px;
      transform: rotateX(20deg) rotateY(40deg) rotateZ(-15deg);
      &:hover {
        left: 30px;
        bottom: -20px;
        transform: rotateX(0) rotateY(0) rotateZ(-5deg);
      }
    }
    > .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      perspective: 10px;
      transform: translate(-50%, -140%);
      > img.favicon {
        width: 256px;
        transform-origin: center;
        transition: transform 0.5s;
      }
    }
    > h1 {
      position: relative;
      font-size: 12rem;
      user-select: none;
      > span {
        color: #3E67B1;
      }
      > pre.slogan {
        position: absolute;
        right: 0;
        font-size: 1.5rem;
      }
    }
    > .start-button {
      display: flex;
      align-items: start;
      justify-content: center;
      position: fixed;
      bottom: calc(100px + var(--page) * 80%);
      filter: drop-shadow(0 2px #3E67B1);
      font-size: 20px;
      font-weight: bold;
      user-select: none;
      cursor: pointer;
      transform:
        scale(calc(10 * var(--page) + 1));
      transition: .05s;
      > span.content {
        z-index: 2;
        color: #cfd7ea;
        opacity: calc(1 - var(--page));
        transition: .05s;
      }
      > .zod {
        position: absolute;
        top: 0;
        left: -25px;
        transition: .3s;
        > .zod-top {
          z-index: 1;
          position: absolute;
          top: -40px;
          width: 40px;
          height: 20px;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          border-bottom: 20px solid #18263f;
        }
        > .zod-bottom {
          z-index: 1;
          position: absolute;
          top: 0;
          width: 0;
          height: 60px;
          border-top: 60px solid #18263f;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
        }
      }
    }
  }
  > .p2 {
    position: sticky;
    top: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 0 80px;
    width: calc(100% - 160px);
    height: 100vh;
    > section {
      flex-grow: 1;
      position: relative;
      padding: 20px;
      min-width: 200px;
      width: 400px;
      height: 120px;
      border: 2px solid #fff5;
      border-radius: 10px;
      box-shadow: 0 6px 16px #3333;
      backdrop-filter: blur(4px);
      overflow: hidden;
      transition: .3s;
      &:hover {
        box-shadow: 0 6px 16px #3335;
      }
      &:nth-child(1) {
        background-image: linear-gradient(140deg, #ffffffef 65%, #84dafaaa);
      }
      &:nth-child(2) {
        background-image: linear-gradient(140deg, #ffffffef 65%, #a8eaf5aa);
      }
      &:nth-child(3) {
        background-image: linear-gradient(140deg, #ffffffef 65%, #f5e2c9aa);
      }
      &:nth-child(4) {
        background-image: linear-gradient(140deg, #ffffffef 65%, #ceefb7aa);
      }
      &:nth-child(5) {
        background-image: linear-gradient(140deg, #ffffffef 65%, #fce2e2aa);
      }
      &:nth-child(6) {
        background-image: linear-gradient(140deg, #ffffffef 65%, #f5e2c9aa);
      }
      &:nth-child(7) {
        background-image: linear-gradient(140deg, #ffffffef 65%, #a8eaf5aa);
      }
      &:nth-child(8) {
        background-image: linear-gradient(140deg, #ffffffef 65%, #84dafaaa);
      }
      > h2 {
        margin: 0;
        font-size: 2em;
      }
      > p {
        color: #888;
        font-size: 1.5em;
      }
      > span.bg-icon {
        position: absolute;
        bottom: -40px;
        right: -20px;
        opacity: .2;
        font-size: 120px;
      }
    }
  }
}
