main {
  display: flex;
  > * {
    transition: .3s;
  }
  &.loading > * {
    opacity: 0;
  }
  .code-editor {
    position: relative;
    max-width: 70vw;
    height: 100%;
    transition: .3s;
    > div.menu {
      z-index: 1;
      height: 30px;
      color: var(--pl-cr);
      background-color: var(--cp-cr);
      border-bottom: 1px solid var(--br-cr);
      box-shadow: var(--bx-sd-l1);
      > span.item.material-icons {
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 100%;
        cursor: pointer;
        user-select: none;
        font-size: 1.2rem;
        transition: 0.3s;
        &:hover {
          color: var(--active-fr-cr);
          background: var(--active-bg-cr);
        }
        &.right {
          float: right;
        }
      }
    }
    > div.menu-page {
      position: absolute;
      top: 31px;
      left: -100%;
      width: 100%;
      height: calc(100% - 31px);
      background-color: var(--cp-cr);
      opacity: 0;
      transition: .3s;
      &.show {
        left: 0;
        opacity: 1;
      }
      > .settings {
        display: none;
        &.show {
          display: block;
        }
      }
    }
    > div.monaco-editor {
      width: 500px;
      min-width: 412px !important;
      max-width: 100%;
      height: calc(100% - 31px);
    }
  }
  > .schema-eval-container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    min-width: 300px;
    height: 100%;
    overflow: overlay;
    > .zodui-composer-list {
      min-width: 100%;
      transition: .3s;
    }
    &[data-mode="card"] {
      --br: 6px;

      position: relative;
      align-items: center;
      > .zodui-composer-list {
        min-width: var(--width);
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
        transition: .3s;
        &:hover {
          filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
        }
        &:first-child {
          margin-top: 10%;
          border-radius: var(--br) var(--br) 0 0;
        }
        &:last-child {
          margin-bottom: 10%;
          border-radius: 0 0 var(--br) var(--br);
        }
        &:first-child:last-child {
          border-radius: var(--br);
        }
      }
    }
  }
}
