html[theme-mode='dark'] .code-editor > .menu {
  color: white;
  background-color: #333;
  border-bottom: 1px solid #252526;
  > span.item:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
main {
  display: flex;
  > * {
    transition: .3s;
  }
  &.loading > * {
    opacity: 0;
  }
  .code-editor {
    position: relative;
    max-width: 70vw;
    height: 100%;
    transition: .3s;
    > div.menu {
      height: 52px;
      background-color: #fff;
      border-bottom: 1px solid lightgray;
      > span.item {
        float: left;
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 8px;
        padding: 0 20px;
        height: 100%;
        font-size: 14px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
        &.right {
          float: right;
        }
        > span.material-icons {
          user-select: none;
        }
      }
    }
    > div.menu-page {
      position: absolute;
      top: 53px;
      left: -100%;
      width: 100%;
      height: calc(100% - 53px);
      background-color: #333;
      opacity: 0;
      transition: .3s;
      &.show {
        left: 0;
        opacity: 1;
      }
      > .settings {
        display: none;
        &.show {
          display: block;
        }
      }
    }
    > div.monaco-editor {
      width: 500px;
      min-width: 412px !important;
      max-width: 100%;
      height: calc(100% - 53px);
    }
  }
  > .schema-eval-container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    min-width: 300px;
    height: 100%;
    > .zodui-composer-list {
      transition: .3s;
    }
    &[data-mode="card"] {
      --br: 6px;

      position: relative;
      align-items: center;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
      overflow: overlay;
      > .zodui-composer-list {
        &:first-child {
          margin-top: 10%;
          border-radius: var(--br) var(--br) 0 0;
        }
        &:last-child {
          margin-bottom: 10%;
          border-radius: 0 0 var(--br) var(--br);
        }
      }
    }
  }
}
