<!DOCTYPE html>
<html lang='en'>
<head>
  <%- include('components/meta') %>
  <%- include('templates/lib') %>
  <%- include('templates/monaco') %>

  <script type='module'>import '/src/play.scss'</script>
  <script type='module' src='/src/components/schema-eval.tsx'></script>
</head>
<body>
  <%- include('templates/header') %>
  <main>
    <div class='code-editor'>
      <div class='menu'>
        <span class='item settings'>
          <span class='material-icons'>settings</span>
          Settings
        </span>
        <span class='item share'>
          <span class='material-icons'>share</span>
          Share
        </span>

        <span class='item right fold'>
          <span class='material-icons' style='transform: rotate(180deg)'>double_arrow</span>
        </span>
        <span class='item right' style='display: none;'>
          Components Lib
          &
          Framework
        </span>
      </div>
      <%- include('components/monaco', {
        key: 'playground',
        resizeable: true,
        byHash: true
      }) %>
      <div class='menu-page'>
        <div class='settings'>
          <%- include('components/schema-eval', {
            key: 'settings',
            code: `import z from 'zod'
export default z.object({
  mode: z
    .union([
      z.literal('default').label('Default'),
      z.literal('card').label('Card'),
    ])
    .label('Mode')
    .describe('Controls the style of the form'),
  width: z
    .tuple([
      z
        .number()
        .default(80)
        .mode('split')
        .label('Value'),
      z
        .union([
          z.literal('%').label('percent'),
          z.literal('px').label('pixel'),
        ])
        .default('%')
    ])
    .describe('Controls the width of the form')
    .mode('wrap'),
})`
          }) %>
        </div>
      </div>
    </div>
    <%- include('components/schema-eval', {
      key: 'playground'
    }) %>
  </main>
  <script type='module'>
    const codeEditor = document.querySelector('.code-editor')
    const menu = codeEditor.querySelector('.menu')

    const menuPage = codeEditor.querySelector('.menu-page')

    const settingsPage = menuPage.querySelector('.settings')
    menu.querySelector('.item.settings').addEventListener('click', () => {
      menuPage.classList.toggle('show')
      settingsPage.classList.toggle('show')
    })

    const share = menu.querySelector('.item.share')

    attachMenu(share, [
      {
        title: 'Copy as Markdown Issue',
      },
      {
        title: 'Copy as Markdown Link',
      },
      {
        title: 'Copy as Markdown Link with Preview',
      },
      {
        title: 'Open in CodeSandbox',
      },
      {
        title: 'Open in StackBlitz',
      }
    ])

    function toggleEditorFold(is = new URLSearchParams(location.search).get('fold') === '1') {
      if (is) {
        codeEditor.classList.add('fold')
        codeEditor.style.marginLeft = '-' + codeEditor.scrollWidth + 'px'
      } else {
        codeEditor.classList.remove('fold')
        codeEditor.style.marginLeft = '0'
      }
    }
    window.addEventListener('popstate', () => {
      toggleEditorFold()
    })
    toggleEditorFold()
    menu.querySelector('.item.fold').addEventListener('click', () => {
      toggleEditorFold(true)
      const hash = location.hash
      history.pushState(null, '', `?${new URLSearchParams({
        fold: codeEditor.classList.contains('fold') ? '1' : '0'
      })}${hash}`)
    })

    /** @type {HTMLDivElement} */
    const playgroundSchemaEvaler = document
      .querySelector('.schema-eval-container[data-key="playground"]')
    evalerValueEmitter.on('settings', v => {
      const {
        mode,
        width: [widthValue, unit] = [80, '%'],
        ...rest
      } = v
      if (mode && mode !== 'default') {
        playgroundSchemaEvaler.dataset.mode = mode
      } else {
        delete playgroundSchemaEvaler.dataset.mode
      }

      ;[...playgroundSchemaEvaler.children]
        .forEach(ele => {
          if (mode === 'card') {
            ele.style.width = `${widthValue}${unit}`
          } else {
            ele.style.width = ''
          }
        })
    })
  </script>
</body>
</html>
